@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-primary: #1DD05E;
    --color-secondary: #A1A1A1;
    --box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.2);
    --box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --box-shadow-primary: rgba(0, 255, 98, 0.309) 0px 20px 25px -5px, rgba(0, 255, 98, 0.309) 0px 10px 10px -5px;
    --color-icon: white;
    --padding-section: 20px 9%;
    --padding-header: 0 9%;
    --background-header: white;
    --gradient: linear-gradient(0deg, rgba(51, 51, 51, 0.63) 0%, rgba(196, 196, 196, 0) 100%);
}

body {
    --background-header: #181818;
    --box-shadow-hover: rgba(4, 252, 58, 0.283) 0px 1px 2px, rgba(4, 252, 58, 0.283) 0px 2px 4px, rgba(4, 252, 58, 0.283) 0px 4px 8px, rgba(4, 252, 58, 0.283) 0px 8px 16px, rgba(4, 252, 58, 0.283) 0px 16px 32px, rgba(4, 252, 58, 0.283) 0px 32px 64px;
    --box-shadow: none;
    background-color: #111111;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.edit-lagu {
    padding: var(--padding-section);
    margin-top: 80px;
}

.edit-lagu h1 {
    color: var(--color-primary);
    margin-top: 10px;
}

.edit-lagu form {
    margin-top: 40px;
}

.edit-lagu form label,
.edit-lagu form input,
.edit-lagu form textarea {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

.edit-lagu form label {
    font-weight: 500;
    font-size: 18px;
}

.edit-lagu form input[type="text"],
.edit-lagu form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #30363D;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #111111;
    color: white;
}

.edit-lagu form input[type="text"]:focus,
.edit-lagu form textarea:focus {
    border: 2px solid var(--color-primary);
}

.edit-lagu input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--background-header);
    border: none;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-lagu input[type="file"] {
    margin-bottom: -20px;
    opacity: 0;
}
